<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar">
      <i class="fas fa-paw"></i>
    </button>
    <%= link_to "Cachupin", root_url %>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav navbar-right">
      <li><%=link_to "Futbolistas", players_index_path %></li>
      <li><a href="#">Dos</a></li>
      <li><a href="#">Tres</a></li>
      <li><a href="#">Cuatro</a></li>
    </ul>
  </div>
</nav>
